---
const {variant,size} = Astro.props;
---

<!-- <article class="card">
    <h2>{header}</h2>
    {soldOut && <p>UDSOLGT</p>}
    <p>kortere lorem ipsum</p>
    <slot />
 
</article>


<style>
p {
    color: #f8f8f8;
}
.card {
    background-color: #000000;
}
    
</style> -->