---
import "../style/mutual.css"
import Buttons from "../components/Buttons.astro"
import MainLayout from "../layouts/MainLayout.astro";

---

		<MainLayout>
			<article>
				<div class="breadcrumbs">
					<a href="index">Home </a> 
					<p> // </p>
					<a class="current_page" href="category"> Program</a> 
				</div>
			</article>

			<div class="lineup_grid">

			<div class="thursday_lineup">
				<img src="img/lineup1.webp" alt="">
				<h2>THURSDAY</h2>
				<a href="line_up_thursday"><Buttons variant="primary">LINE UP</Buttons></a>
			</div>
			<div class="friday_lineup">
				<img src="img/lineup2.webp" alt="">
				<h2>FRIDAY</h2>
				<Buttons variant="primary">LINE UP</Buttons>
			</div>
			<div class="saturday_lineup">
				<img src="img/lineup3.webp" alt="">
				<h2>SATURDAY</h2>
				<Buttons variant="primary">LINE UP</Buttons>
			</div>
		</div>
		
		</MainLayout>

		<style>
			.lineup_grid{
				display: grid;
				grid-template-rows: 1fr 1fr 1fr;
			}

			.current_page{
				text-decoration: underline;
			}

			.breadcrumbs a{
				color: var(--main-white-color);
			}
			.breadcrumbs {
   			display: flex;
			}
		</style>




