---
import "../style/mutual.css"
import Button from "../components/Buttons.astro"
import MainLayout from "../layouts/MainLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="robots" content="noindex,nofollow" />
		<meta name="generator" content={Astro.generator} />
		<title>Karrusel Festival</title>
	</head>
	<body>
		<MainLayout>
			<article>
				<div class="breadcrumbs">
					<a href="index">Home</a> //
					<a href="category">Program</a> //
				</div>
			</article>

			
			<Button>
				TEXT
			</Button>
		</MainLayout>

	</body>
</html>
