---
import "../style/mutual.css";
import Card from "../components/Card.astro";
import Button from "../components/Buttons.astro"
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	
</MainLayout>

	<body>
		<main>
			<Card />
					
		
		<!-- 
			<article>	
					<button class="Logo.astro">Karrusel</button>
			</article>

			<article>
				<a href="/src/components/Icons/Countdown.astro"></a>
			</article> -->
		</main>
	</body>
</html>
=======
<!-- <article>
	<div class="breadcrumbs">
		<a href="index">Home</a> //
		<a href="category">Program</a> //
		<a href="line_up_thursday">Thursday</a> //
		<a href="single_view">Âme</a>
	</div>
</article> -->

