---
import "../style/mutual.css";
import Card from "../components/Card.astro";
import Buttons from "../components/Buttons.astro"
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
import MainLayout from "../layouts/MainLayout.astro";

---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rye&display=swap" rel="stylesheet">

</head>

<body>
    <div class="index_img">
    <header>
        <Navigation />
    </header>
    
    <main>
       
            <h1>KARRUSEL</h1>
        </div>
    
    <div class="index_flex">
    
        <div class="index_flex2">
        <img src="/img/index_img1.png" alt="#">
        <a href="all_lineup"><Buttons variant="primary">SEE LINEUP</Buttons></a>
        </div>
    
        <div class="index_flex2">
        <img src="/img/index_img2.png" alt="#">
        <Buttons variant="primary">ABOUT US</Buttons>
        </div>
    
        <div class="index_flex2">
        <img src="img/index_img3.png" alt="#">
        <Buttons variant="primary">GALLERY</Buttons>
        </div>
    
    </div>
    </main>
    
    <footer>
        <Footer/>
    </footer>

</body>


<style>
    .index_img{
        height:100vh;
        background-image: url(/public/img/index.png);
        background-size: cover;
        margin-bottom: 60px;
        background-repeat: no-repeat;
       
    }
    h1{
        position: absolute;
        top: 80%; 
        left: 30%; 
      }

        img{
            width: 90%;
            justify-self: center;
            margin: 20px 0;
        }

.index_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

        .index_flex2{
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 20px 0;
        }

        

  /* desktop */
  @media only screen and (min-width: 800px) {
    .index_flex{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin: 10%;
        }

        .index_flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 0 5%;
        }  

        .index_img{
        height:100vh;
        background-image: url(/public/img/index_imgdesktop.png);
        background-size: cover;
        margin-bottom: 60px;
        background-repeat: no-repeat;
       
    }
    h1{
        position: absolute;
        top: 90%;
        left: 40%;
      }

}  



        

</style>
