---
import "../style/mutual.css";
import Card from "../components/Card.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="robots" content="noindex,nofollow" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rye&display=swap" rel="stylesheet">

		<title>Karrusel Festival</title>
	</head>

	<!-- I denne html skal der være logo, curtains, countdown og dato -->
	<body>
		<main>
			<Card />

		<!-- 
			<article>	
					<button class="Logo.astro">Karrusel</button>
			</article>

			<article>
				<a href="/src/components/Icons/Countdown.astro"></a>
			</article> -->
		</main>
	</body>
</html>
