---
import "../style/mutual.css";
import Card from "../components/Card.astro";
import Button from "../components/Buttons.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="robots" content="noindex,nofollow" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rye&display=swap" rel="stylesheet">

		<title>Karrusel Festival</title>
	</head>
	<article>
		<!-- Skal brødkrummestien være en Navigation-komponent? -->
		<div class="breadcrumbs">
			<a href="index">Home</a> //
			<a href="category">Program</a> //
			<a href="line_up_thursday">Thursday</a> //
			<a href="single_view">Âme</a>
		</div>
	</article>
	<!-- I denne html skal der være logo, curtains, countdown og dato -->
	<body>
		    <!-- Skal brødkrummestien laves til en Navigation-komponent, der ligger her? -->
		<main>
			
			<Card />
			
			
		
		<!-- 
			<article>	
					<button class="Logo.astro">Karrusel</button>
			</article>

			<article>
				<a href="/src/components/Icons/Countdown.astro"></a>
			</article> -->
		</main>
	</body>
</html>
