---
import "../style/mutual.css";
import Card from "../components/Card.astro";
import Button from "../components/Buttons.astro"
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	
</MainLayout>


<!-- <article>
	<div class="breadcrumbs">
		<a href="index">Home</a> //
		<a href="category">Program</a> //
		<a href="line_up_thursday">Thursday</a> //
		<a href="single_view">Âme</a>
	</div>
</article> -->