---
import "../style/mutual.css";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="robots" content="noindex,nofollow" />
		<meta name="generator" content={Astro.generator} />
		<title>Karrusel Festival</title>
	</head>

	<body>
		
	</body>
</html>
