/* mobile first */

:root {
  --main-black-color: #000000;
  --main-Gray-color: #d9d9d9;
  --main-white-color: #f8f8f8;
  --sec-100-color: #36db75;
  --sec-60-color: #81e8a8;
  --sec-30-color: #bdf6d3;
  --acc-100-color: #690583;
  --acc-60-color: #b05cc6;
  --acc-30-color: #daa4e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-black-color);
}
img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 0% 5%;
}

/* h1, */
h2 {
  color: var(--main-white-color);
  text-decoration: none;
  font-family: "EB Garamond", serif;
}

h3,
h4,
h5,
h6,
p {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--main-white-color);
}

/* desktop og tablets */

@media only screen and (min-width: 600px) {
}
