---
const {header} = Astro.props;
---

<article class="card">
    <h2>{header}</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut praesentium blanditiis repellendus exercitationem, alias, debitis accusantium quae dolores laboriosam mollitia repellat quidem possimus voluptatem molestias assumenda sapiente neque. Repellat, iusto!</p>
</article>
<slot />

<style>

</style>