---
const {header} = Astro.props;
---

<article class="card">
    <h1>Âme</h1>
    <img src="/public/img/ame.webp" alt="Artist">
    <h2>{header}</h2>
    <h3>Location</h3>
    <h3>Date</h3>
    <h3>Time</h3>
    <p></p>
</article>
<slot />

<style>

</style>