---

---

<header>
    <div class="logo">

      <a href="index"><img src="/img/white_logo.svg" alt="logo" /></a>
      
    </div>
    <nav>
      <ul class="menu">
        <li>
          <a href="https://www.ticketmaster.dk/event/542817" class="buy-ticket-link">
              BUY TICKET
              <img src="/img/ticket.svg" alt="ticket" />
          </a>
      </li>
        
        <li><a href="all_lineup">LINEUP</a></li>
        <li class="days"><a href="#">Thursday</a></li>
        <li class="days"><a href="#">Friday</a></li>
        <li class="days"><a href="#">Saturday</a></li>

        <li><a href="#">MAP</a></li>
          <li class="overview"><a href="#">Scenes</a></li>
          <li class="overview"><a href="#">Drinks</a></li>
          <li class="overview"><a href="#">Food</a></li>
          <li class="overview"><a href="#">Toilets</a></li>
      
        <li><a href="#">GALLERY</a></li>

        <li><a href="#">ABOUT US</a></li>
          <li class="about"><a href="#">Find us</a></li>
          <li class="about"><a href="#">Festival Experience</a></li>
          <li class="about"><a href="#">Sustainability</a></li>
          <li class="about"><a href="#">History</a></li>
      </ul>
  

      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
  </header>



  <style>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 40%;
}

.menu li {
    display: flex;
    align-items: center;
    font-size: 31px;
    font-family: "Rye", serif;
}

.buy-ticket-link {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
}

.buy-ticket-link img {
    width: 70px;
}


nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
  background-color: #690583;
}

a{
  background-color: #690583;
  text-decoration: none;
  color: white;
}

.menu li:last-child {
  margin-right: 0;
}


.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #f8f2f2;
  margin-bottom: 5px;
  transition: 0.2s linear;
  order: 1;
}


  .menu {
    display: none;
  }
 
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
    
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
   

  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
   

  }

  nav.active .menu {
    display: block;
    background-color: #690583;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    order: 6;
    position: absolute;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  .menu .days,
.menu .overview,
.menu .about {
  font-family: Times New Roman, serif; 
  font-size: 20px;
}


  @media (min-width: 700px) {
    /* større skærme som fx desktop */
    .buy-ticket-link img {
        width: 70px; 
    }
}


  </style>

  <script>
    const burger = document.querySelector(".burger");
const nav = document.querySelector("nav");
const menu = document.querySelector(".menu");
const links = document.querySelectorAll(".menu li a");

burger.addEventListener("click", () => {
  burger.classList.toggle("active");
  nav.classList.toggle("active");
});

links.forEach((link) => {
  link.addEventListener("click", () => {
    burger.classList.remove("active");
    nav.classList.remove("active");
  });
});

  </script>
