---
import "../style/mutual.css";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
const {title}= Astro.props;
---

<MainLayout>
	
		<header>
        <slot>	
        </slot>
    </header>
    <main>
		<h1>{title}</h1>
		<h2>Manegen</h2>
		<section class="grid_cards">
		</Card>
		</section>
		<h2>Tribunen</h2>
        <section class="grid_cards">
         		</Card>   
        </section>
		<h2>Balkonen</h2>
              <section class="grid_cards">
         		</Card>   
        </section>
		</main>
	
</MainLayout>

<style>
.grid_cards{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}
.heder_img{
    width: 100%;
    height: auto;
}
</style>